<%inherit file="story.tmpl"/>
<%namespace name="misc" file="misc_helper.tmpl" import="*" />

<%block name="carousel">
<!-- Carousel -->
<div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/img/marine-1.5.jpg" class="visible-sm">
      <img src="/assets/img/marine-2.jpg" class="visible-md">
      <img src="/assets/img/marine-2.5.jpg" class="visible-lg">
      <div class="container">
        <div class="carousel-caption">
          <h1>Ultimate Gheun Tak</h1>
          <p><a class="btn btn-lg btn-primary" href="/2014/register" role="button">Register</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/assets/img/dsc00091-1.5.jpg" class="visible-sm">
      <img src="/assets/img/dsc00091-2.jpg" class="visible-md">
      <img src="/assets/img/dsc00091-2.5.jpg" class="visible-lg">
      <div class="container">
        <div class="carousel-caption">
          <h1>7th-9th March 2014</h1>
          <p><a class="btn btn-lg btn-primary" href="#schedule" role="button">Schedule</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/assets/img/anthem-1.5.jpg" class="visible-sm">
      <img src="/assets/img/anthem-2.jpg" class="visible-md">
      <img src="/assets/img/anthem-2.5.jpg" class="visible-lg">
      <div class="container">
        <div class="carousel-caption">
          <h1>Goregaon Sports Club, Mumbai</h1>
          <p><a class="btn btn-lg btn-primary" href="#venue" role="button">Venue</a></p>
          <span class="credits"><a href="/assets/credits.txt">Photo Credits</a></span>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- /.carousel -->
</%block>

<%block name="content">
%if title and not post.meta('hidetitle'):
    <h1>${title}</h1>
%endif
    ${post.text()}
%if enable_comments and not post.meta('nocomments'):
    ${comments.comment_form(post.permalink(absolute=True), post.title(), post.base_path)}
%endif
${misc.list_teams()}
${misc.list_sponsors()}
</%block>
